boto3==1.17.49
botocore==1.20.49
Django==3.1.7
django-crispy-forms==1.11.2
django-eventstream==4.0.0
django-filter==2.4.0
django-grip==3.0.0
django-health-check==3.16.3
djangorestframework==3.12.4
kiteconnect==3.9.2
llvmlite==0.36.0
lxml==4.6.3
markdown==3.3.4
mysqlclient==2.0.3
numba==0.53.1
numpy==1.20.2
openpyxl==3.0.7
pandas==1.2.3
Pillow==8.2.0
pusher==3.0.0
PyMySQL==1.0.2
python-dateutil==2.8.1
pytz==2021.1
redis==3.5.3
regex==2021.4.4
requests==2.25.1
scipy==1.6.3
sqlacodegen==2.3.0
SQLAlchemy==1.4.7
tqdm==4.60.0
whitenoise==5.2.0
xlrd==2.0.1